<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>礼包中心</title>
    <meta name="description" content="致晟游戏科技">
    <link rel="stylesheet" href="<?=CSS_PATH?>/wap/common/swiper-4.3.3.min.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/index/index/base.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/index/index/public.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/index/index/index.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/index/gift/convert.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body class="homeMain">
    <!--  公共导航栏   -->
    <header class="header" id="header">
        <include file="common/header" />
    </header>

    <!--    中间主页    -->
    <div class="content_box">
        <!--     兑换中心     -->
        <div class="rank_hot_wrap container cf">
            <!--   banner图   -->
            <div class="banner"><img src="<?=IMG_PATH?>/index/convert/exchange_bar.png" width="1200" height="400" alt=""></div>
            <!--   交易模块   -->
            <div class="transaction_box cf">
                <div class="transaction fl">
                    <ul class="cf">
                        <li class="gold fl pr"><a href="http://shop.zhishengwh.com/Index/gold?type=gold"><i></i><p>金币交易</p><span class="line1"></span><span class="line2"></span></a></li>
                        <li class="account fl pr"><a href="http://shop.zhishengwh.com/Index/account?type=account"><i></i><p>账号交易</p><span class="line1"></span><span class="line2"></span></a></li>
                        <li class="equipment fl pr"><a href="http://shop.zhishengwh.com/Index/equipment?type=equipment"><i></i><p>装备交易</p><span class="line2"></span></a></li>
                        <li class="practice fl pr"><a href="http://shop.zhishengwh.com/Index/practice?type=practice"><i></i><p>游戏代练</p><span class="line3"></span></a></li>
                        <li class="modity fl pr"><a href="http://shop.zhishengwh.com/Index/goods?type=goods"><i></i><p>商品交易</p><span class="line3"></span></a></li>
                        <li class="service fl"><a href="http://shop.zhishengwh.com/Uc/commonproblem?type=commonproblem"><i></i><p>常见问题</p></a></li>
                    </ul>
                </div>
                <div class="moutai fl"><img src="<?=IMG_PATH?>/index/convert/moutai.png" width="300" height="180" alt=""></div>
                <div class="wine fl"><img src="<?=IMG_PATH?>/index/convert/wine.png" width="300" height="180" alt=""></div>
                <div class="diamonds fl"><img src="<?=IMG_PATH?>/index/convert/diamonds.png" width="300" height="180" alt=""></div>
            </div>

            <!--    游戏兑换    -->
            <div class="broadcast_box">
                <div class="broadcast_title cf"><p class="fl pr">游戏兑换<span class="line_l"></span></p><a class="fr" href="javascript:void(0);">更多</a></div>
                <ul class="broadcast_ul cf">
                    <li class="fl">
                        <div class="slide-box swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="http://shop.zhishengwh.com/Index/gold?type=gold">
                                        <p class="s_name">金币交易</p>
                                        <p class="s_title ofh">魔兽世界</p>
                                        <p class="s_text ofh">【当面交易】2260万金币=43元</p>
                                        <p class="s_text1 ofh">【在线发货，方便快捷】</p>
                                        <p class="s_exp ofh">1元=2857.14金游戏币</p>
                                        <img src="<?=IMG_PATH?>/index/convert/game_bar.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </li>
                    <li class="fl">
                        <div class="slide-box swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="http://shop.zhishengwh.com/Index/account?type=account">
                                        <p class="s_name s_name1">账号交易</p>
                                        <p class="s_title ofh">魔兽世界</p>
                                        <p class="s_text ofh">【当面交易】2260万金币=43元</p>
                                        <p class="s_text1 ofh">【在线发货，方便快捷】</p>
                                        <p class="s_exp ofh">1元=2857.14金游戏币</p>
                                        <img src="<?=IMG_PATH?>/index/convert/game_bar.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </li>
                    <li class="fl">
                        <div class="slide-box swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="http://shop.zhishengwh.com/Index/equipment?type=equipment">
                                        <p class="s_name s_name2">装备交易</p>
                                        <p class="s_title ofh">魔兽世界</p>
                                        <p class="s_text ofh">【当面交易】2260万金币=43元</p>
                                        <p class="s_text1 ofh">【在线发货，方便快捷】</p>
                                        <p class="s_exp ofh">1元=2857.14金游戏币</p>
                                        <img src="<?=IMG_PATH?>/index/convert/game_bar.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </li>
                    <li class="fl">
                        <div class="slide-box swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="http://shop.zhishengwh.com/Index/practice?type=practice">
                                        <p class="s_name s_name3">游戏代练</p>
                                        <p class="s_title ofh">魔兽世界</p>
                                        <p class="s_text ofh">【当面交易】2260万金币=43元</p>
                                        <p class="s_text1 ofh">【在线发货，方便快捷】</p>
                                        <p class="s_exp ofh">1元=2857.14金游戏币</p>
                                        <img src="<?=IMG_PATH?>/index/convert/game_bar.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


        <!--   公共底部    -->
        <div id="footer">
            <include file="common/footer" />
        </div>
    
    </div>

    <script src="<?=JS_PATH?>/index/common/jquery.js"></script>
    <script src="<?=JS_PATH?>/wap/common/swiper-4.3.3.min.js"></script>
    <script src="<?=JS_PATH?>/index/common/public.js"></script>
    <script>
        $(document).ready(function () {
            enter();
        });
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            autoplay: false,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            }
        })
    </script>
</body>
</html>