<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>[title]</title>
    <link rel="stylesheet" href="<?=CSS_PATH?>/wap/common/sm.min.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/wap/common/base.css">
</head>
<body class="mHome">

    <!--    加载层    -->
    <div id="loader"><div class="loader_inner"><img src="/public/static/image/wap/login/ajax-loader.gif" alt=""><p class="loader_text">正在加载</p></div></div>