<include file="inc/header" title="关于我们" />

<link rel="stylesheet" href="<?=CSS_PATH?>/wap/about/about_us.css">

    <div class="page-group">
        <!--    头部    -->
        <div class="about_head"><img class="dib" src="/public/static/image/wap/about/about_head.png" alt=""></div>
        <p class="about_text">
            致晟文化以网络游戏发展为起点，集研发、引进、运营、发行、销售为一体的综合性互动娱乐企业。立足全球化游戏研发与发行、大数据应用、IP开发与运营、泛娱乐产业投资四大业务全面发展，整合上下游产业链打造精品内容，推出优秀产品，与中国分享互联网娱乐的快乐！
        </p>
    </div>
    <div class="footer_text">
        <p>2018 zhishengwh 版权所有 www.zhishengwh.com</p>
        <p>深圳致晟文化创新有限公司</p>
    </div>



    <script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>
    <script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>
    <script src="<?=JS_PATH?>/wap/common/public.js"></script>
    <script src="<?=JS_PATH?>/wap/customer/index.js"></script>
</body>
</html>