<include file="inc/header" title="个人中心" />

<link rel="stylesheet" href="<?=CSS_PATH?>/wap/customer/index.css">

    <!--  页面  -->
    <div class="page-group">

        <!--     登录注册头部     -->
        <div class="login_header">
            <!--     头像      -->
            <img class="dib" src="/public/static/image/wap/customer/head.png" alt="">
            <div class="login_text">{$user}</div>
        </div>

        <!--    list列表    -->
        <div class="list-block">
            <ul>
                <li class="item-content my_capital item-notice cf">
                    <a href="/wap/capital.html"><i></i><span class="item-title">我的资金</span><span class="capital_num fr">2000</span></a>
                </li>
            </ul>
        </div>
        <div class="list-block">
            <ul>
                <li class="item-content my_game item-notice cf">
                    <a href="javascript:void(0);"><i></i><span class="item-title">我的游戏</span><span class="icon icon-right fr"></span></a>
                </li>
                <li class="item-content my_gift item-notice cf">
                    <a href="javascript:void(0);"><i></i><span class="item-title">我的礼包</span><span class="icon icon-right fr"></span></a>
                </li>
                <li class="item-content my_down item-notice cf">
                    <a href="javascript:void(0);"><i></i><span class="item-title">我的下载</span><span class="icon icon-right fr"></span></a>
                </li>
            </ul>
        </div>
        <div class="list-block">
            <ul>
                <li class="item-content my_info item-notice cf">
                    <a href="/wap/msg.html"><i></i><span class="item-title">消息通知</span><span class="icon icon-right fr"></span></a>
                </li>
                <li class="item-content my_customer item-notice cf">
                    <a href="javascript:void(0);"><i></i><span class="item-title">咨询客服</span><span class="icon icon-right fr"></span></a>
                </li>
                <li class="item-content my_about item-notice cf">
                    <a href="/wap/about.html"><i></i><span class="item-title">关于我们</span><span class="icon icon-right fr"></span></a>
                </li>
            </ul>
        </div>
        <div class="list-block last_list_block">
            <ul>
                <li class="item-content my_set item-notice cf">
                    <a href="/wap/Index/customer_logout"><i></i><span class="item-title">个人设置</span><span class="icon icon-right fr"></span></a>
                </li>
            </ul>
        </div>

    </div>

<include file="inc/footer" />

    <!--<nav class="bar bar-tab">-->
        <!--<a class="tab-item external foot-tap-index" href="/wap.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">首页</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-gift" href="/wap/gift.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">礼包</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-classify" href="/wap/gmct.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">分类</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-center active" href="/wap/customer.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">我的</span>-->
        <!--</a>-->
    <!--</nav>-->

    <!--<script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>-->
    <!--<script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>-->
    <!--<script src="<?=JS_PATH?>/wap/common/public.js"></script>-->
    <script src="<?=JS_PATH?>/wap/customer/index.js"></script>

<!--</body>-->
<!--</html>-->