<include file="inc/header" title="意见反馈" />

<link rel="stylesheet" href="<?=CSS_PATH?>/wap/customer/feedback.css">

<div class="page-group">

    <div class="feedback_title cf"><span class="fl">我们需要您的建议：</span><a class="fr save">保存</a></div>
    <div class="feedback_content">
        <textarea class="feedback_text" id="area" placeholder="请输入您的意见"></textarea>
        <p class="surplus">剩余<span id="word">500</span>个字</p>
    </div>

</div>

<script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/public.js"></script>
<script src="<?=JS_PATH?>/wap/customer/feedback.js"></script>

</body>
</html>
