<include file="inc/header" title="游戏下载" />
<link rel="stylesheet" href="<?=CSS_PATH?>/wap/index/down.css">

    <div class="page-group">

        <!--  热门下载  -->
        <div class="gift_box">
            <div class="gift_title cf">
                <h4 class="fl">热门下载</h4>
            </div>
            <ul class="gift_ul">
                <li class="cf">
                    <div class="gift_header fl"><img src="/uploads/20180716141655/d439b5b718cc126ad975800229a487b1.png" alt=""></div>
                    <div class="gift_name all_play_name fl">
                        <p class="gift_text all_play_text ofh">火影忍者-疾风传</p>
                        <p class="all_play_role">28.55M</p>
                        <p class="gift_bag ofh">动作游戏</p>
                    </div>
                    <a class="receive_btn fr" href="http://sj.qq.com/myapp/detail.htm?apkName=com.tencent.KiHan">下载</a>
                </li>
                <li class="cf">
                    <div class="gift_header fl"><img src="/uploads/20180716141655/d439b5b718cc126ad975800229a487b1.png" alt=""></div>
                    <div class="gift_name all_play_name fl">
                        <p class="gift_text all_play_text ofh">火影忍者-疾风传</p>
                        <p class="all_play_role">28.55M</p>
                        <p class="gift_bag ofh">动作游戏</p>
                    </div>
                    <a class="receive_btn fr" href="http://sj.qq.com/myapp/detail.htm?apkName=com.tencent.KiHan">下载</a>
                </li>
                <li class="cf">
                    <div class="gift_header fl"><img src="/uploads/20180716141655/d439b5b718cc126ad975800229a487b1.png" alt=""></div>
                    <div class="gift_name all_play_name fl">
                        <p class="gift_text all_play_text ofh">火影忍者-疾风传</p>
                        <p class="all_play_role">28.55M</p>
                        <p class="gift_bag ofh">动作游戏</p>
                    </div>
                    <a class="receive_btn fr" href="http://sj.qq.com/myapp/detail.htm?apkName=com.tencent.KiHan">下载</a>
                </li>
                <li class="cf">
                    <div class="gift_header fl"><img src="/uploads/20180716141655/d439b5b718cc126ad975800229a487b1.png" alt=""></div>
                    <div class="gift_name all_play_name fl">
                        <p class="gift_text all_play_text ofh">火影忍者-疾风传</p>
                        <p class="all_play_role">28.55M</p>
                        <p class="gift_bag ofh">动作游戏</p>
                    </div>
                    <a class="receive_btn fr" href="http://sj.qq.com/myapp/detail.htm?apkName=com.tencent.KiHan">下载</a>
                </li>
            </ul>
        </div>
    </div>



    <script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>
    <script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>
    <script src="<?=JS_PATH?>/wap/common/public.js"></script>
    <script src="<?=JS_PATH?>/wap/index/down.js"></script>

</body>
</html>