<include file="inc/header" title="游戏分类" />

    <link rel="stylesheet" href="<?=CSS_PATH?>/wap/gmct/index.css">
    <!--  页面  -->
    <div class="page-group" id="page-group"></div>

    <include file="inc/footer" />

    <!--<nav class="bar bar-tab">-->
        <!--<a class="tab-item external foot-tap-index" href="/wap.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">首页</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-gift" href="/wap/gift.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">礼包</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-classify active" href="/wap/gmct.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">分类</span>-->
        <!--</a>-->
        <!--<a class="tab-item external foot-tap-center" href="/wap/customer.html">-->
            <!--<span class="icon"></span>-->
            <!--<span class="tab-label">我的</span>-->
        <!--</a>-->
    <!--</nav>-->

    <!--<script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>-->
    <!--<script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>-->
    <script src="<?=JS_PATH?>/wap/common/swiper-4.3.3.min.js"></script>
    <!--<script src="<?=JS_PATH?>/wap/common/public.js"></script>-->
    <script src="<?=JS_PATH?>/wap/gmct/index.js"></script>
<!--</body>-->
<!--</html>-->




    <!--<foreach name="arrData" item="vo">-->
        <!--<div class="hot_box pr hot_box<?=rand(1,5)?>">-->
            <!--<i><span class='classify_title'>{$vo[0]}</span></i>-->
            <!--<ul class='cf'>-->
                <!--<foreach name="vo[1]" item="vo2">-->
                    <!--<li class='dib'>-->
                        <!--<img onclick="window.location.href='?id={$vo2['id']}'" src="/uploads/{$vo2['icon']}" alt=''>-->
                        <!--<p class='ofh'>{$vo2['title']}</p>-->
                    <!--</li>-->
                <!--</foreach>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</foreach>-->
