<include file="inc/header" title="消息详情" />

<link rel="stylesheet" href="<?=CSS_PATH?>/wap/customer/msg_info.css">

<div class="page-group">

    <!--    资讯详情    -->
    <div class="msg_info">
        <p class="msg_title">街球艺术精英测试礼包，来啦！</p>
        <p class="msg_text">男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞男人两种，打球的和不打球的；打球的分两种，超帅的！《街球艺术》激活你的运动细胞。</p>
    </div>

</div>

<script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/public.js"></script>
<script src="<?=JS_PATH?>/wap/customer/msg_info.js"></script>

</body>
</html>