<include file="inc/header" title="消费记录" />

<link rel="stylesheet" href="<?=CSS_PATH?>/wap/customer/record.css">

<div class="page-group">

    <!--   消费记录列表   -->
    <ul class="record_ul">
        <li class="cf copy" data-num="6">
            <div class="fl">
                <p class="recharge_title">微信充值</p>
                <span class="time">2018-03-07 13:03:45</span>
            </div>
            <div class="money_num fr">
                <span>+</span>
                <span class="num">4935</span>
            </div>
        </li>
    </ul>
</div>


<script src="<?=JS_PATH?>/wap/common/zepto.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/sm.min.js"></script>
<script src="<?=JS_PATH?>/wap/common/public.js"></script>
<script src="<?=JS_PATH?>/wap/customer/record.js"></script>

</body>
</html>