<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加接口</title>
    <link rel="stylesheet" href="<?=JS_PATH?>/pay/common/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/pay/common/public.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/pay/common/page.css">
</head>
<body>
<!--  内容的整体部分    -->
<div class="contentFull">
    <!-- 搜索引擎部分   -->
    <div class="content_navBar cf">
        <p class="fl">我的位置：</p>
        <p class="fl">接口管理&nbsp;&nbsp;&gt;&nbsp;&nbsp;</p>
        <p class="fl col-red">添加接口</p>
    </div>
    <!--  标题   -->
    <div class="cont_btnLine cf">
        <p class="fl">添加接口</p>
    </div>
    <form class="addProContent cf">
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接入方：</dt>
            <dd class="fl">
                <select name="pay_type" >
                    <option value="1">通联</option>
                    <option value="2">环迅</option>
                    <option value="3">千玺</option>
                    <option value="4">爱加密</option>
                    <option value="5">点缀</option>
                    <option value="6">威富通</option>
                </select>
            </dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接口名称：</dt>
            <dd class="fl"><input placeholder="请填写接口名称" type="text" name="pay_title" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接口商户号：</dt>
            <dd class="fl"><input placeholder="请填写接口商户号" type="text" name="pay_number" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接口APPID：</dt>
            <dd class="fl"><input placeholder="请填写接口APPID" type="text" name="pay_appid" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接口CUSID：</dt>
            <dd class="fl"><input placeholder="请填写接口CUSID" type="text" name="pay_cusid" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>接口APPKEY：</dt>
            <dd class="fl"><input placeholder="请填写接口APPKEY" type="text" name="pay_appkey" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>支付URL：</dt>
            <dd class="fl"><input placeholder="请填写接口APPKEY" type="text" name="url" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>是否启用：</dt>
            <dd class="fl">
                <label class="fl cf"><input class="fl" type="radio" name="status" value="1" checked><p class="fl labelName">是</p></label>
                <label class="fl cf"><input class="fl" type="radio" name="status" value="2"><p class="fl labelName">否</p></label>
            </dd>
        </dl>
    </form>
    <a class="confirmBtn" href="javascript:void(0)" id="add" name="submit">确定</a>
</div>
<script src="<?=JS_PATH?>/pay/common/jquery.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/core/base.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerAccordion.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerLayout.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerTab.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerGrid.js"></script>
<script src="<?=JS_PATH?>/pay/common/dialog.js"></script>
<script src="<?=JS_PATH?>/pay/common/public.js"></script>
<script>

    $("#add").on('click',function(){
        if(!$("select[name=pay_type]").val()){
            bombBox.bombBoxError('', '请选择接入方');
            $("#confirm").on("click",function(){
                bombBox.bombBoxColse($(".pub_bBox"));
            });
            return false;
        }
        
        submitAdd('/admin/pay/add.html');

    });
</script>
</body>
</html>