<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<?=CSS_PATH?>/admin/ch-ui.admin.css">
    <link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
    <script type="text/javascript" src="<?=JS_PATH?>/admin/jquery.js"></script>
    <script type="text/javascript" src="<?=JS_PATH?>/admin/ch-ui.admin.js"></script>
</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">商品管理</a> &raquo; 添加商品
</div>
<!--面包屑导航 结束-->

<!--结果页快捷搜索框 开始-->
<div class="search_wrap">
    <form action="" method="post">
        <table class="search_tab">
            <tr>
                <th width="120">选择分类:</th>
                <td>
                    <select>
                        <option value="">全部</option>
                        <option value="">百度</option>
                        <option value="">新浪</option>
                    </select>
                </td>
                <th width="70">关键字:</th>
                <td><input type="text" name="keywords" placeholder="关键字"></td>
                <td><input type="submit" name="sub" value="查询"></td>
            </tr>
        </table>
    </form>
</div>
<!--结果页快捷搜索框 结束-->

<!--搜索结果页面 列表 开始-->
<form action="#" method="post">
    <div class="result_wrap">
        <!--快捷导航 开始-->
        <div class="result_content">
            <div class="short_wrap">
                <a href="/admin/Site/advertadd"><i class="fa fa-plus"></i>新增广告</a>
                <a href="#"><i class="fa fa-recycle"></i>批量删除</a>
            </div>
        </div>
        <!--快捷导航 结束-->
    </div>

    <div class="result_wrap">
        <div class="result_content">
            <table class="list_tab">
                <tr>
                    <th class="tc" width="5%"><input type="checkbox" name=""></th>
                    <th class="tc">ID</th>
                    <th class="tc">名称</th>
                    <th class="tc">定位</th>
                    <th class="tc">图片</th>
                    <th class="tc">地址</th>
                    <th class="tc">状态</th>
                    <th class="tc">操作</th>

                </tr>
                <foreach name="advert" item="vo">
                    <tr>
                        <td class="tc"><input type="checkbox" name="id[]" value="{$vo.id}"></td>
                        <td class="tc">{$vo.id}</td>
                        <td class="tc">{$vo.name}</td>
                        <td class="tc">{$vo.type}</td>
                        <td class="tc"><img src="/uploads/{$vo.pic_url}" width="200" height="100" /></td>
                        <td class="tc">{$vo.addr}</td>
                        <td class="tc">
                            <input type="radio" name="on_off_{$vo.id}" value="1" <?php if($vo['status'] == "1"){ echo "checked";} ?> onclick="send(this.value,{$vo.id},'advert')"  /> 启动
                            <input type="radio" name="on_off_{$vo.id}" value="0" <?php if($vo['status'] == "0"){ echo "checked";} ?> onclick="send(this.value,{$vo.id},'advert')" /> 关闭
                        </td>
                        <td class="tc"><a href="/admin/Site/advertdel?id={$vo.id}">删除</a></td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
</form>
<!--搜索结果页面 列表 结束-->
</body>
</html>