<div class="menu_box menu_box9">
    <ul>
        <li>
            <h3><i class="fa fa-pencil"></i>拓展</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">插件管理</a></li>
                <li><a href="javascript:void(0);" target="main">钩子管理</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-puzzle-piece"></i>已装插件后台</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">附件</a></li>
                <li><a href="http://www.yeahzan.com/fa/facss.html" target="main">图标调用</a></li>
                <li><a href="http://hemin.cn/jq/cheatsheet.html" target="main"></i>Jquery手册</a></li>
                <li><a href="http://tool.c7sky.com/webcolor/" target="main">配色板</a></li>
                <li><a href="/admin/Index/element.html" target="main">其他组件</a></li>
            </ul>
        </li>
    </ul>
</div>