<div class="menu_box menu_box10">
    <ul>
        <li>
            <h3><i class="fa fa-picture-o"></i>兑换管理</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/App/product_list" target="main">发布信息管理</a></li>
                <li><a href="/admin/App/product_review" target="main">审核发布信息</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-tachometer"></i>游戏管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">游戏状态管理</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-server"></i>内容管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">资讯列表</a></li>
                <li><a href="javascript:void(0);" target="main">活动列表</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-fw fa-thumb-tack"></i>版本控制</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">版本列表</a></li>
            </ul>
        </li>
    </ul>
</div>