<div class="menu_box menu_box3">
    <ul>
        <li>
            <h3><i class="fa fa-user"></i>个人中心</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Article/welcome?type=w" target="main">我的文档</a></li>
                <li><a href="/admin/Article/add_artc?type=a" target="main">添加文档</a></li>
                <li><a href="/admin/Article/status?type=s" target="main">审核文档</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-file-pdf-o"></i>APP资讯</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">游戏资讯</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-paper-plane-o"></i>APP活动</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">游戏资讯</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-shield"></i>渠道站</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">游戏资讯</a></li>
                <li><a href="javascript:void(0);" target="main">游戏公告</a></li>
                <li><a href="javascript:void(0);" target="main">关于我们</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-ticket"></i>媒体站</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">关于我们</a></li>
                <li><a href="javascript:void(0);" target="main">商务合作</a></li>
                <li><a href="javascript:void(0);" target="main">合作伙伴</a></li>
                <li><a href="javascript:void(0);" target="main">游戏活动</a></li>
                <li><a href="javascript:void(0);" target="main">游戏资讯</a></li>
                <li><a href="javascript:void(0);" target="main">游戏公告</a></li>
                <li><a href="javascript:void(0);" target="main">家长监督</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-trash"></i>回收站</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Article/recover?type=r" target="main">回收站</a></li>
            </ul>
        </li>
    </ul>
</div>