<div class="menu_box menu_box5">
    <ul>
        <li>
            <h3><i class="fa fa-puzzle-piece"></i>游戏管理</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Game/apk.html" target="main">游戏列表</a></li>
                <li><a href="/admin/Game/type.html" target="main">游戏分类</a></li>
                <li><a href="javascript:void(0);" target="main">游戏区服</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-suitcase"></i>礼包管理</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Game/giftlist.html" target="main">礼包管理</a></li>
                <li><a href="/admin/Game/gift.html" target="main">添加礼包</a></li>
                <li><a href="/admin/Game/giftlog.html" target="main">领取记录</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-star-half-o"></i>返利管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">返利设置</a></li>
                <li><a href="javascript:void(0);" target="main">游戏返利</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-paypal"></i>代充折扣</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">代充折扣</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-chain"></i>激活码管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">激活码管理</a></li>
                <li><a href="javascript:void(0);" target="main">领取记录</a></li>
            </ul>
        </li>
    </ul>
</div>