<div class="menu_box menu_box6">
    <ul>
        <li>
            <h3><i class="fa fa-pencil-square"></i>渠道管理</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Promote/mercode" target="main">渠道管理</a></li>
                <li><a href="javascript:void(0);" target="main">渠道补链</a></li>
                <li><a href="javascript:void(0);" target="main">补链记录</a></li>
                <li><a href="javascript:void(0);" target="main">分包管理</a></li>
                <li><a href="javascript:void(0);" target="main">渠道信息修改</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-pie-chart"></i>渠道数据</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Promote/add_mercode" target="main">渠道注册</a></li>
                <li><a href="javascript:void(0);" target="main">渠道充值</a></li>
                <li><a href="javascript:void(0);" target="main">代充记录</a></li>
                <li><a href="javascript:void(0);" target="main">代充额度</a></li>
                <li><a href="javascript:void(0);" target="main">支付宝充值额度</a></li>
                <li><a href="javascript:void(0);" target="main">支付宝充值</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-ils"></i>渠道对账</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">渠道对账</a></li>
                <li><a href="/forward_login.html" target="main">渠道结算</a></li>
                <li><a href="/put_login.html" target="main">渠道提现</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-cc-visa"></i>充值组</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">平台币转移</a></li>
                <li><a href="javascript:void(0);" target="main">平台币修改</a></li>
                <li><a href="javascript:void(0);" target="main">绑定平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">绑定平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">绑定平台币转移</a></li>
                <li><a href="javascript:void(0);" target="main">渠道游戏余额</a></li>
                <li><a href="javascript:void(0);" target="main">渠道绑币修改</a></li>
                <li><a href="javascript:void(0);" target="main">渠道绑币修改</a></li>
                <li><a href="javascript:void(0);" target="main">绑币批量充值</a></li>
            </ul>
        </li>
    </ul>
</div>