<div class="menu_box menu_box8">
    <ul>
        <li>
            <h3><i class="fa fa-cog"></i>系统设置</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Setting/links" target="main">友情链接</a></li>
                <li><a href="/admin/Setting/issue_type" target="main">问题分类</a></li>
                <li><a href="/admin/Setting/issue" target="main">问题列表</a></li>
                <li><a href="/admin/Setting/feedback" target="main">意见反馈</a></li>
                <li><a href="javascript:void(0);" target="main">菜单管理</a></li>
                <li><a href="javascript:void(0);" target="main">导航管理</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-refresh"></i>数据备份</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">备份数据库</a></li>
                <li><a href="javascript:void(0);" target="main">还原数据库</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-pencil"></i>拓展工具</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">短信设置</a></li>
                <li><a href="javascript:void(0);" target="main">文件存储</a></li>
                <li><a href="javascript:void(0);" target="main">支付设置</a></li>
                <li><a href="javascript:void(0);" target="main">邮件设置</a></li>
                <li><a href="javascript:void(0);" target="main">第三方登陆</a></li>
            </ul>
        </li>
    </ul>
</div>