<div class="menu_box menu_box2">
    <ul>
        <li>
            <h3><i class="fa fa-arrows"></i>媒体官网</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/Site/basc" target="main">基本配置</a></li>
                <li><a href="/admin/Site/advert" target="main">广告管理</a></li>
                <li><a href="/admin/Site/links" target="main">友情链接</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-plus-square-o"></i>APP管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">基本配置</a></li>
                <li><a href="javascript:void(0);" target="main">广告管理</a></li>
                <li><a href="javascript:void(0);" target="main">图标配置</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-retweet"></i>渠道站管理</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">友情链接</a></li>
                <li><a href="javascript:void(0);" target="main">广告管理</a></li>
                <li><a href="javascript:void(0);" target="main">图标配置</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-magnet"></i>广告列表</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">广告列表</a></li>
            </ul>
        </li>
    </ul>
</div>