<div class="menu_box menu_box7">
    <ul>
        <li>
            <h3><i class="fa fa-fw fa-clipboard"></i>日常统计</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">日常统计</a></li>
                <li><a href="javascript:void(0);" target="main">来款统计</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-edit"></i>CPS统计</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">登陆统计</a></li>
                <li><a href="javascript:void(0);" target="main">注册统计</a></li>
                <li><a href="javascript:void(0);" target="main">消费统计</a></li>
                <li><a href="javascript:void(0);" target="main">下载统计</a></li>
                <li><a href="javascript:void(0);" target="main">平台币总额</a></li>
                <li><a href="javascript:void(0);" target="main">绑币总额</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-area-chart"></i>运营分析</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">留存统计</a></li>
                <li><a href="javascript:void(0);" target="main">ARPU统计</a></li>
            </ul>
        </li>
    </ul>
</div>