<div class="menu_box menu_box4">
    <ul>
        <li>
            <h3><i class="fa fa-unlock-alt"></i>管理组</h3>
            <ul class="sub_menu hide">
                <li><a href="/admin/User/userx" target="main">用户信息</a></li>
                <li><a href="javascript:void(0);" target="main">用户行为</a></li>
                <li><a href="javascript:void(0);" target="main">权限管理</a></li>
                <li><a href="javascript:void(0);" target="main">行为日志</a></li>
                <li><a href="javascript:void(0);" target="main">站内信</a></li>
                <li><a href="javascript:void(0);" target="main">IP管理</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-street-view"></i>用户组</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">平台用户</a></li>
                <li><a href="javascript:void(0);" target="main">登陆记录</a></li>
                <li><a href="javascript:void(0);" target="main">平台币修改</a></li>
                <li><a href="javascript:void(0);" target="main">绑定平台币修改</a></li>
                <li><a href="javascript:void(0);" target="main">用户8868平台交易</a></li>
                <li><a href="javascript:void(0);" target="main">用户信息修改</a></li>
                <li><a href="javascript:void(0);" target="main">积分获取</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-cc-paypal"></i>充值组</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">游戏消费</a></li>
                <li><a href="javascript:void(0);" target="main">平台币充值</a></li>
                <li><a href="javascript:void(0);" target="main">平台币发放</a></li>
                <li><a href="javascript:void(0);" target="main">绑定平台币使用</a></li>
                <li><a href="javascript:void(0);" target="main">CP订单查询</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="fa fa-check-square-o"></i>补单组</h3>
            <ul class="sub_menu hide">
                <li><a href="javascript:void(0);" target="main">绑币充值补单</a></li>
                <li><a href="javascript:void(0);" target="main">补单记录</a></li>
                <li><a href="javascript:void(0);" target="main">充值补单</a></li>
            </ul>
        </li>
    </ul>
</div>