<div class="type_name fl cf">
    <div class="type_box fl">
        <div class="title_box cf">
            <p class="tit_name fl">礼包排行</p>
        </div>
        <ul class="rank_ul cf">
            <foreach name="randData" item="vo2" key="k">
                <li class="sub_rank_li cf">
                    <div class="sub_rank_num <?php if($k+1 == 1 || $k+1 == 2 || $k+1 == 3){ echo 'rank_front'; } ?>  fl"><?=$k+1?></div>
                    <div class="sub_rank_name ofh fl">{$vo2.title}</div>
                    <div class="rank_info fl cf hide">
                        <img src="/uploads/{$vo2.icon}" class="rank_img fl"/>
                        <div class="rank_right fl">
                            <p class="rank_name ofh">{$vo2.info}</p>
                            <p class="cf rank_operate"><a href="javascript:void(0)" onclick="gift();" class="fl">领取礼包</a></p>
                        </div>
                    </div>
                    <div class="sub_rank_type ofh fr">{$vo2.type}</div>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="type_box gift_type_box fl">
        <div class="title_box cf">
            <p class="tit_name fl">游戏排行</p>
        </div>
        <ul class="rank_ul cf">
            <foreach name="randData" item="vo2" key="k">
                <li class="sub_rank_li cf">
                    <div class="sub_rank_num <?php if($k+1 == 1 || $k+1 == 2 || $k+1 == 3){ echo 'rank_front'; } ?>  fl"><?=$k+1?></div>
                    <div class="sub_rank_name ofh fl">{$vo2.title}</div>
                    <div class="rank_info fl cf hide">
                        <img src="/uploads/{$vo2.icon}" class="rank_img fl"/>
                        <div class="rank_right fl">
                            <p class="rank_name ofh">{$vo2.info}</p>
                            <p class="cf rank_operate"><a href="{$vo2.addr_code}"  class="fl btn_rank_down">下载</a><a href="javascript:void(0)" onclick="gift();" class="fl">礼包</a></p>
                        </div>
                    </div>
                    <div class="sub_rank_type ofh fr">{$vo2.type}</div>
                </li>
            </foreach>
        </ul>
    </div>
</div>