<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加权限</title>
    <link rel="stylesheet" href="<?=JS_PATH?>/pay/common/ligerUI/skins/Aqua/css/ligerui-all.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/pay/common/public.css">
    <link rel="stylesheet" href="<?=CSS_PATH?>/pay/common/page.css">
</head>
<body>
<!--  内容的整体部分    -->
<div class="contentFull">
    <!-- 搜索引擎部分   -->
    <div class="content_navBar cf">
        <p class="fl">我的位置：</p>
        <p class="fl">权限列表&nbsp;&nbsp;&gt;&nbsp;&nbsp;</p>
        <p class="fl col-red">添加权限</p>
    </div>
    <!--  标题   -->
    <div class="cont_btnLine cf">
        <p class="fl">添加权限</p>
    </div>
    <form class="addProContent cf">
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>所属分类：</dt>
            <dd class="fl">
                <select name="praendid" >
                    <option value="">--------请选择分类--------</option>
                    <if condition="$data neq null">
                    <foreach name="$data" item="val">
                        <option value="{$val.id}">{$val.title}</option>
                    </foreach>
                    </if>
                </select>
            </dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>权限名称：</dt>
            <dd class="fl"><input placeholder="请填写权限名称" type="text" name="title" value="" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>路由：</dt>
            <dd class="fl"><input placeholder="请填写路由" type="text" name="url"  value="" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>排序：</dt>
            <dd class="fl"><input placeholder="请填写排序" type="text" name="solf"  value="" class="fl"></dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>是否隐藏：</dt>
            <dd class="fl cf">
                <label class="fl cf">
                    <input class="fl" type="radio" name="hide" value="0" checked><p class="fl labelName">显示</p>
                </label>
                <label class="fl cf">
                    <input class="fl" type="radio" name="hide" value="1"><p class="fl labelName">隐藏</p>
                </label>
            </dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>状态：</dt>
            <dd class="fl">
                <label class="fl cf"><input class="fl" type="radio" name="status" value="0" checked><p class="fl labelName">正常</p></label>
                <label class="fl cf"><input class="fl" type="radio" name="status" value="1"><p class="fl labelName">禁用</p></label>
            </dd>
        </dl>
        <dl class="cf fl">
            <dt class="fl"><span class="col-red">*</span>快捷按键：</dt>
            <dd class="fl">
                <label class="fl cf"><input class="fl" type="radio" name="quick" value="0" checked><p class="fl labelName">是</p></label>
                <label class="fl cf"><input class="fl" type="radio" name="quick" value="1"><p class="fl labelName">否</p></label>
            </dd>
        </dl>
    </form>
    <a class="confirmBtn" href="javascript:void(0)" id="add" name="submit">确定</a>
</div>
<script src="<?=JS_PATH?>/pay/common/jquery.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/core/base.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerAccordion.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerLayout.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerTab.js"></script>
<script src="<?=JS_PATH?>/pay/common/ligerUI/js/plugins/ligerGrid.js"></script>
<script src="<?=JS_PATH?>/pay/common/dialog.js"></script>
<script src="<?=JS_PATH?>/pay/common/public.js"></script>
<script>

    $("#add").on('click',function(){
        if(!$("select[name=praendid]").val()){
            bombBox.bombBoxError('', '请选择所属分类');
            $("#confirm").on("click",function(){
                bombBox.bombBoxColse($(".pub_bBox"));
            });
            return false;
        }
        var prompt = checkParamete($(".addProContent").serialize());
        console.log(prompt);
        if(prompt){
            bombBox.bombBoxError('', prompt);
            $("#confirm").on("click",function(){
                bombBox.bombBoxColse($(".pub_bBox"));
            }); 
            return false;
        }
        

        submitAdd('/pay/Jurisdiction/add');

    });
</script>
</body>
</html>